<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>I-F</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../../static/css/creative.css" rel="stylesheet">

    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Love Web</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling 
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div id="textoCabecera" class="header-content-inner">
                <h1  id="homeHeading">Bienvenida a nuestra Web, Pekeña.</h1>
                <hr>
                <p>Esto es una forma de demostrarte lo que ya te he dicho, de empezar con buen pie, espero que te guste.</p>
                <div id="fondoCabecera"></div>
                <a href="#swiper" class="btn btn-primary btn-xl page-scroll">¿Me sigues?</a>
            </div>
        </div>
    </header>

    <!-- Slider main container <div id="slideFondo"></div>-->

    <div id="swiper" class="swiper-container">
        <div class="row text-center">
            <h1 id="viajes">¿Recuerdas nuestros viajes?</h1>
            <h2 id="viajes">Yo los recuerdo muchisimo</h2>
            <br>
        </div>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div id="imgSlide1" class="swiper-slide">
                <div class="text-vertical-center">
                    <h1 class="slideTexto">Praga</h1>
                </div>
            </div>
            <div id="imgSlide2" class="swiper-slide">
                <div class="text-vertical-center">
                    <h1 class="slideTexto">Marbella</h1>
                </div>
            </div>
            <div id="imgSlide3" class="swiper-slide">
               <div class="text-vertical-center">
                    <h1 class="slideTexto">Cádiz</h1>
                </div>
            </div>
            <div id="imgSlide4" class="swiper-slide">
               <div class="text-vertical-center">
                    <h1 class="slideTexto">NewYork</h1>
                </div>
            </div>
            <div id="imgSlide5" class="swiper-slide">
               <div class="text-vertical-center">
                    <h1 class="slideTexto">Londres</h1>
                </div>
            </div>
            <div id="imgSlide6" class="swiper-slide">
               <div class="text-vertical-center">
                    <h1 class="slideTexto">Portsmouth, donde todo empezó</h1>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        

        
        <!-- If we need navigation buttons 
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        -->
        
        <!-- If we need scrollbar
        <div class="swiper-scrollbar"></div>
         -->
    </div>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">¿Sabes dónde te veo dentro de unos años?</h2>
                    <a href="#portfolio" class="page-scroll btn btn-default btn-xl sr-button">AQUÍ <br> (púlsame)</a>
                </div>
            </div>
        </div>
    </section>

    

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img id="imgPort" src="../../static/img/ireOnu.JPG" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cumpliendo tus sueños
                                </div>
                                <div class="project-name">
                                    Porque si te lo propones puedes conseguirlo todo
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img id="imgPort" src="../../static/img/ireFam.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Viendo mundo y disfrutando de tu familia
                                </div>
                                <div class="project-name">
                                    Porque se que te encanta
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img id="imgPort" src="../../static/img/banio.JPG" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Feliz
                                </div>
                                <div class="project-name">
                                    Porque eres una persona Feliz
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="filaFotos" class="col-lg-12 col-sm-12">
                    <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img id="imgPort" src="../../static/img/IreneAndMe.JPG" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Y...si puede ser...cerca mia
                                </div>
                                <div class="project-name">
                                    Porque como puedes ver, contigo soy feliz
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Espero que puedas perdonarme algún día, se que es dificil para ti ahora mismo pero, si crees que podemos solucionar esto, si puedes confiar en que voy a darlo todo para que esto funcione, si de verdad quieres que funcione, porfavor, dale al botón.</h2>
                <a href="thanks" class="btn btn-default btn-xl sr-button">Yo soy el botón</a>
            </div>
        </div>
    </aside>

    
    <!-- jQuery -->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../../static/js/creative.js"></script>

    <!--Swiper-->
    <script type="text/javascript" src="../../static/js/swiper.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>

</body>

</html>
