

<!DOCTYPE html>
<html lang="en" ng-app = "app">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     </head>

    <body id="bodyThanks" ng-app = "app">
      


        
    <!-- Bootstrap Core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../../static/css/creative.css" rel="stylesheet">
     
     <br><br><br><br><br>
        <div class="container">
           <div id="thanksMessage">
                <div class="row text-center">
                    <h1 id="thanksText">¡¡¡HAS PULSADO!!!!</h1>
                    <h4 id="thanksText">Pekeña no te vas a arrepentir, obviamente se que esto no siginifica que ya me hayas perdonado y todo eso, pero es un paso hacia lo que queremos conseguir, creeme odio hacerte daño para mi es como hacerme daño a mi mismo, incluso peor. Dejame demostrarte de verdad lo que te quiero Irene, no te voy a decepcionar más, voy a ser la clase de persona que te mereces, porque te lo mereces todo.</h4>
                </div>
                <div class="row text-center">
                    <a href="../../"><span class="fa-stack fa-4x">
                        <i id="thanksIcon" class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i id="iconsShape" class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span></a>
                </div>
                <div class="row text-center">
                    <h3 id="thanksText">BESITO SUBMARINO PA TI</h3>
                    <h4>P.D: hazle una fotito a esta pantalla y mandamela para saber si has pulsado o no, porfi jajaja</h4>
                </div>
                <img  id="logoThanks" src="../../static/img/agua.JPG" class="img-responsive img-centered" alt="">
            </div>
        </div>
         


  <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js"> </script>
        <script type="text/javascript" src="../../../static/js/creative.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
       
    </body>
 </html>